<div class="text-center">
  <div>
    <h4>
      My album collection
    </h4>
  </div>
</div>

<hr>

<div class="text-center">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            Name
          </th scope="col">

          <th scope="col">
            Cards
          </th scope="col">

          <th scope="col">
            Action
          </th scope="col">
        </tr>
      </thead>
      <tbody>
        <% @list_of_albums.each do |an_album| %>
        <tr>
        
          <td>
            <%= an_album.name %>
          </td>

          <td>
            <%= an_album.cards %>
          </td>

          <td>
            
            <% if @list_of_collections.include?(an_album.id) %>
              
              <form action="/albums/<%= an_album.id %>">
                <button class="btn btn-primary btn-sm" style="width: 120px;">Go to my album</button>
              </form>
              

            <% else %>
              <form action="/link_collection/<%= an_album.id %>">
                <button class="btn btn-secondary btn-sm" style="width: 120px;">Add album</button>
              </form>
              
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<% if @current_user.id == 1 %>
  <div>
    <div>
      <h5>Add a new album (ADMIN)</h5>

      <form action="/insert_album" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text">Name of the album:</span>
          <input class="form-control" type="text" id="name_box" name="query_name" placeholder="NBA 2023">
          <label for="name_box"></label>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Number of cards in album:</span>
          <input class="form-control" type="number" min="1" id="cards_box" name="query_cards" placeholder="18">
          <label for="cards_box"></label>
        </div>

        <button class="btn btn-primary btn-sm">
          Create album
        </button>
      </form>
    </div>
  </div>
<% else end %>
