<div>
  <div>
    <h1>
      Your albums
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2></h2>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Cards
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_albums.each do |an_album| %>
      <tr>
        <td>
          <%= an_album.id %>
        </td>

        <td>
          <%= an_album.name %>
        </td>

        <td>
          <%= an_album.cards %>
        </td>

        <td>
          <a href="/albums/<%= an_album.id %>">
            Enter your collection
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      <a href="/albums/all_albums">Add another album?</a> Selector and button instead?
    </h3>
  </div>
</div>

<hr>
